@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: 300;
}
.__projectlist{
    display: flex;
    height: 625px;
    text-align: left;
    overflow: auto;
    border-bottom: 1px solid #3c72ff ;
}
.__projectlist::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}
.__projectlist::-webkit-scrollbar-track {
    background-color: #e4e9f6;
    border-radius: 7px;
}
.__projectlist::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #3c72ff;
}
.__projectlist__inner{
    width: 100%;
    display: inline;
}
.__projectlist__projects{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
}
.__projectlist__projects li{
    height: 100px;
    max-width: 50%;
    min-width: 40%;
    background: #fff;
    border: #3c72ff solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}
.__projectlist__projects a{
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.__projectlist__projects a:hover{
    color: rgba(0, 0, 0, 0.5)
}
.__projectlist__projects a:active{
    color: #1e55e6;
}

button ~ button{
    margin-left: 45px;
}
button{
    height: 40px;
    width: 40px;
    padding: 0;
    opacity: 0.45;
    background: #e4e9f6;
    border: 0;
    outline: none;
    border-radius: 5px;
}
button:hover{
    opacity: 1;
}
button:active{
    opacity: 1;
}
button:active path{
    fill: #1e55e6
}
button svg{
    margin: 5px;
}

.__buttonslinks{
    display: flex;
    justify-content:space-around;
}
.__button_link{
    margin: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'PT Serif', serif;
    font-size: 300;
    font-weight: 18px;
    height: 50px;
    width: 250px;
    background: #3c72ff;
    border: 0;
    border-radius: 5px;
}
.__button_link:hover{
    box-shadow: 0px 0px 11px 2px rgb(16 12 109 / 25%) 
}
.__button_link:active{
    background: #1e55e6; 
}