@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-weight: 300;
}
.ul_inner{
    display: flex;
    height: 625px;
    text-align: left;
    overflow: auto;
    border-bottom: 1px solid #3c72ff ;
}
.ul_inner::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}
.ul_inner::-webkit-scrollbar-track {
    background-color: #e4e9f6;
    border-radius: 7px;
}
.ul_inner::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #3c72ff;
}
.tasks{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
}
.tasks li{
    height: 100px;
    max-width: 50%;
    background: #fff;
    border: #3c72ff solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}
.tasks a{
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.tasks a:hover{
    color: rgba(0, 0, 0, 0.5)
}
.tasks a:active{
    color: #1e55e6;
}