.__projectlist__projects{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
}
.__projectlist__projects li{
    display: block;
    height: 100px;
    max-width: 350px;
    width: 100%;
    background: #fff;
    border: #3c72ff solid 1px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}
.__projectlist__projects a{
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.__projectlist__projects a:hover{
    color: rgba(0, 0, 0, 0.5)
}
.__projectlist__projects a:active{
    color: #1e55e6;
}